.navbar {
    background-color: #1E5AF9;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.nav-link,
.app-title,
.login,
.signup {
    color: white;
    text-decoration: none;
}
.signup{
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding-inline: 30px;
    box-shadow: 2px 2px 5px black;
}

.app-title {
    position: absolute;
    width: fit-content;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 2em;
    margin-left: 10vw;
    z-index: 2;
}

.auth {
    display: flex;
    gap: 2em;
    margin-right: 10vw;
    z-index: 2;
    align-items: center;
}

.login,
.signup {
    font-size: 2rem;
}

.nav-link {
    font-size: 2rem;
}

.landing {
    background-color: #1E5AF9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.heading {
    font-weight: 700;
    height: fit-content;
    line-height: 1em;
}

.quotation {
    font-size: 2rem;
    font-weight: 100;
    width: 100%;
    padding-top: 20px;
}

.mobiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translate(0%, -50%);
}

.mobile {
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
    top: -300px;
}

.appstore,
.googleplay {
    width: 300px;
    cursor: pointer;
}

.about {
    color: black;
    height: fit-content;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.about-content-rev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    flex-direction: row-reverse;
}

.about-text {
    width: 600px;
    text-align: left;
}
.mb-with-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 1280px) {

    .nav-links,
    .auth {
        display: none;
    }
    .mobiles{
        display: none;
    }
    .about-content{
        flex-direction: column;
        margin-bottom: 100px;
        gap: 50px;
    }
    .about-content-rev{
        flex-direction: column;
        margin-bottom: 100px;
        gap: 50px;
    }
}